body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.bg-img {
    /* section cover background */
    background-image: url(/santanderneri.windolyn.io/portfolio1/assets/images/cover.jpg);
    background-position:relative;
    background-repeat:no-repeat; 
    margin-bottom: 0;
}

/* Position the navbar container inside the image */
.container {
    position: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 0%;
}

/* The navbar */
.topnav {

overflow: hidden;
background-color: #333333e8;
width: 100%;
height:30px;

}

/* Navbar links */
.topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    
}

#topnav a:hover {
background-color: #ddd;
color: black;
}

#section {
    height: 100%;
    width: 100%;
    margin:0;
    background-color: rgb(37, 38, 38);   
}

.section-bio {
    background-color: #01012d;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #440304 50%, #01012d 100%);
    width: 100%;
    align-content: center;
} 

#bio-header {
    color:#464444;
    margin-left: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Create two equal columns that float next to each other */
.column {
  float: left;
  width: 50%;
  text-align: left;
  font-size: larger;
  line-height: 2.5;
}
.section-bio .column img {
  align-content:right;
  display: 100%;
  margin-left: 120px;
}

.section-bio .column p {
  color:#cccccc;
  font-style: italic;
  margin-left:50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {

.section-portfolio {
    width: 100%;
    height: 100%;
    background-color: rgb(68, 65, 65);
    box-sizing:content-box;
}
h2 {
  text-align: center;
  color: rgb(238, 238, 10);
}

/* Create four equal columns that float next to each other */
.column {
  float: left;
  width: 10%;
  margin: 10px;
}
}


.section-contact {
  height: 100%;
    * {
        box-sizing: border-box;
      }
      
      /* Style inputs */
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #cccccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      /* Style the container/contact section */
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
      }
      
      /* Create two columns that float next to eachother */
      .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column, input[type=submit]
          width: 100%;
          margin-top: 0;
        }
      }
        
footer {
  background-color: rgb(10, 10, 10);
  float: center;
  color: #f7f4f4;
  text-align: right;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
}      
      

